# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite databases
*.db
*.sqlite3

# Environment variables
.env

# Instance folder
/instance/

# IDE settings
.idea/
.vscode/

# Python virtual environment
venv/
env/
.venv/